
*.xcuserstate

AppleALC.xcodeproj/xcuserdata/savvamitrofanov.xcuserdatad/xcschemes/AppleALC.xcscheme

AppleALC.xcodeproj/xcuserdata/savvamitrofanov.xcuserdatad/xcschemes/ResourceConverter.xcscheme

AppleALC/kern_resources.cpp

AppleALC.xcodeproj/xcuserdata/savvamitrofanov.xcuserdatad/xcschemes/xcschememanagement.plist

AppleALC/kern_resources.cpp

AppleALC.xcodeproj/project.pbxproj

AppleALC.xcodeproj/project.pbxproj

AppleALC.xcodeproj/project.pbxproj

*.pbxproj

AppleALC.xcodeproj/project.pbxproj
