<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>DhinakG and Khronokernel</string>
	<key>CodecID</key>
	<integer>16902</integer>
	<key>CodecName</key>
	<string>CS4206</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>1</integer>
				<key>Path</key>
				<string>layout1.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBook6,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>31</integer>
				<key>Path</key>
				<string>layout31.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBook7,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>99</integer>
				<key>Path</key>
				<string>layout99.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookAir3,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>61</integer>
				<key>Path</key>
				<string>layout61.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookAir3,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>98</integer>
				<key>Path</key>
				<string>layout98.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookAir4,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>91</integer>
				<key>Path</key>
				<string>layout91.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookAir4,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>75</integer>
				<key>Path</key>
				<string>layout75.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro5,3</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>76</integer>
				<key>Path</key>
				<string>layout76.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro5,4</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>77</integer>
				<key>Path</key>
				<string>layout77.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro5,5</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>71</integer>
				<key>Path</key>
				<string>layout71.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro6,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>11</integer>
				<key>Path</key>
				<string>layout11.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro6,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>13</integer>
				<key>Path</key>
				<string>layout13.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro7,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>layout28.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro8,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>29</integer>
				<key>Path</key>
				<string>layout29.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro8,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>39</integer>
				<key>Path</key>
				<string>layout39.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro8,3</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>67</integer>
				<key>Path</key>
				<string>layout67.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac9,1 20</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>78</integer>
				<key>Path</key>
				<string>layout78.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac10,1 21.5</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>79</integer>
				<key>Path</key>
				<string>layout79.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac10,1 27</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>81</integer>
				<key>Path</key>
				<string>layout81.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac11,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>18</integer>
				<key>Path</key>
				<string>layout18.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac11,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>9</integer>
				<key>Path</key>
				<string>layout9.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac12,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>32</integer>
				<key>Path</key>
				<string>layout32.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac12,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>33</integer>
				<key>Path</key>
				<string>layout33.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - Macmini5,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>35</integer>
				<key>Path</key>
				<string>layout35.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - Macmini5,2</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>1</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBook6,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>31</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBook7,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>99</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookAir3,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>61</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookAir3,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>98</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookAir4,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>91</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookAir4,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>75</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro5,3</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>76</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro5,4</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>77</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro5,5</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>71</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro6,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>11</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro6,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>13</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro7,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro8,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>29</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro8,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>39</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - MacBookPro8,3</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>67</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac9,1 20</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>78</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac10,1 21.5</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>79</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac10,1 27</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>81</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac11,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>18</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac11,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>9</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac12,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>32</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - iMac12,2</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>33</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - Macmini5,1</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>35</integer>
				<key>Path</key>
				<string>PlatformApple.xml.zlib</string>
				<key>comment</key>
				<string>Khronokernel - Cirrus Logic CS4206 - Macmini5,2</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array/>
	<key>Revisions</key>
	<array>
		<integer>1048835</integer>
		<integer>1049345</integer>
		<integer>1049346</integer>
	</array>
	<key>Vendor</key>
	<string>CirrusLogic</string>
</dict>
</plist>
