<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Realtek/Intel</key>
	<dict>
		<key>layoutNum</key>
		<integer>1</integer>
		<key>Tree</key>
		<array>
			<string>AppleACPIPCI</string>
			<string>HDEF</string>
			<string>AppleHDAController</string>
			<string>IOHDACodecDevice</string>
		</array>
	</dict>
</dict>
</plist>
