<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Device</key>
		<integer>36000</integer>
		<key>Name</key>
		<string>Z97 HDEF controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>IIw=</data>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>oIw=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>AMD</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>3084</integer>
		<key>Name</key>
		<string>HD4600 controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>DAoAAA==</data>
				<key>MaxKernel</key>
				<string>13</string>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DAwAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>CwwAAA==</data>
				<key>MaxKernel</key>
				<string>13</string>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DAwAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>3</integer>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>MaxKernel</key>
				<string>14</string>
				<key>MinKernel</key>
				<string>14</string>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>PQsMAAA=</data>
				<key>MaxKernel</key>
				<string>14</string>
				<key>MinKernel</key>
				<string>14</string>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>5</integer>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>MinKernel</key>
				<string>15</string>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36128</integer>
		<key>Name</key>
		<string>X99 HDEF controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>IIw=</data>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>II0=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>1042</integer>
		<key>Name</key>
		<string>Intel HD4600 HDMI (ig-platform-id 0x0d220003)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>5</integer>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>MinKernel</key>
				<string>14</string>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUJAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>3</integer>
				<key>Find</key>
				<data>AgQKAAAEAACHAAAA</data>
				<key>MinKernel</key>
				<string>14</string>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQKAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>AwYIAAAEAAARAAAA</data>
				<key>MinKernel</key>
				<string>14</string>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AwYIAAAIAAARAAAA</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>220332035</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>358</integer>
		<key>Name</key>
		<string>Intel HD4000 HDMI (ig-platform-id 0x01660003)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>AgUAAAAEAAAHBAAA</data>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AgUAAAAIAAAHBAAA</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>AwQAAAAEAACBAAAA</data>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AwQAAAAIAACBAAAA</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>BAYAAAAEAACBAAAA</data>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>BAYAAAAIAACBAAAA</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>23461891</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>358</integer>
		<key>Name</key>
		<string>Intel HD4000 HDMI (ig-platform-id 0x01660009)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>AgUAAAAEAAAHAQAA</data>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AgUAAAAIAAAHAQAA</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>AwQAAAAEAAAHAQAA</data>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AwQAAAAIAAAHAQAA</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>23461897</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>358</integer>
		<key>Name</key>
		<string>Intel HD4000 LVDS, HDMI (ig-platform-id 0x0166000A) Laptop only</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>AgUAAAAEAAAHAQAAAwQAAAAEAAAHAQAA</data>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>BQMAAAIAAAAwAgAAAwQAAAAIAAAHAQAA</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>23461898</integer>
		<key>Vendor</key>
		<string>Intel</string>
		<key>Model</key>
		<string>Laptop</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>358</integer>
		<key>Name</key>
		<string>Intel HD4000 HDMI (ig-platform-id 0x0166000A) Desktop only</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>AgUAAAAEAAAHAQAAAwQAAAAEAAAHAQAA</data>
				<key>MinKernel</key>
				<string>13</string>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AgUAAAAIAAAHAQAAAwQAAAAIAAAHAQAA</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>23461898</integer>
		<key>Vendor</key>
		<string>Intel</string>
		<key>Model</key>
		<string>Desktop</string>
	</dict>
</array>
</plist>
