<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Device</key>
		<integer>36129</integer>
		<key>Name</key>
		<string>X99 HDEF controller r2</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>oIw=</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>IY0=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36128</integer>
		<key>Name</key>
		<string>X99 HDEF controller r1</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>oIw=</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>II0=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>3844</integer>
		<key>Name</key>
		<string>Atom Z36xxx/Z37xxx Audio Controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>DAw=</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>BA8=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36</integer>
		<key>Name</key>
		<string>Z97 HDEF controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>IIw=</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>oIw=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>3084</integer>
		<key>Name</key>
		<string>HD4600 controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>DAoAAA==</data>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DAwAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>CwwAAA==</data>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DAwAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>3</integer>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>MaxKernel</key>
				<integer>14</integer>
				<key>MinKernel</key>
				<integer>14</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>PQsMAAA=</data>
				<key>MaxKernel</key>
				<integer>14</integer>
				<key>MinKernel</key>
				<integer>14</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>5</integer>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36128</integer>
		<key>Name</key>
		<string>X99 HDEF controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>IIw=</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>II0=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>1042</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>Intel HD4600 HDMI (ig-platform-id 0x0d220003)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAAAgQKAAAEAACHAAAAAwYIAAAEAAARAAAA</data>
				<key>MinKernel</key>
				<integer>14</integer>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUJAAAIAACHAAAAAgQKAAAIAACHAAAAAwYIAAAIAAARAAAA</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>220332035</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>358</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Intel HD4000 HDMI (ig-platform-id 0x01660003)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>AgUAAAAEAAAHBAAAAwQAAAAEAACBAAAABAYAAAAEAACBAAAA</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AgUAAAAIAAAHBAAAAwQAAAAIAACBAAAABAYAAAAIAACBAAAA</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>23461891</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>358</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>Intel HD4000 HDMI (ig-platform-id 0x01660009)</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>AgUAAAAEAAAHAQAAAwQAAAAEAAAHAQAA</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AgUAAAAIAAAHAQAAAwQAAAAIAAAHAQAA</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>23461897</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>358</integer>
		<key>Model</key>
		<string>Desktop</string>
		<key>Name</key>
		<string>Intel HD4000 HDMI (ig-platform-id 0x0166000A) Desktop only</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>AgUAAAAEAAAHAQAAAwQAAAAEAAAHAQAA</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AgUAAAAIAAAHAQAAAwQAAAAIAAAHAQAA</data>
			</dict>
		</array>
		<key>Platform</key>
		<integer>23461898</integer>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
</array>
</plist>
