<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ukr55</string>
	<key>CodecID</key>
	<integer>2185</integer>
	<key>CodecName</key>
	<string>ALC889</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>1</integer>
				<key>Path</key>
				<string>layout1.zml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Path</key>
				<string>Platforms.zml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>ixnUEQ==</data>
			<key>MinKernel</key>
			<string>13</string>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>iQjsEA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>gxnUEQ==</data>
			<key>MinKernel</key>
			<string>15</string>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
	</array>
	<key>Vendor</key>
	<string>Realtek</string>
</dict>
</plist>
