<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vendor</key>
	<string>Realtek</string>
	<key>CodecID</key>
	<integer>617</integer>
	<key>CodecName</key>
	<string>ALC269</string>
	<key>Revisions</key>
	<array>
		<integer>1048580</integer>
		<integer>1049090</integer>
		<integer>1048832</integer>
	</array>
	<key>Author</key>
	<string>Multiple</string>
	<key>Files</key>
	<dict>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>1</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269 Asus N53J</string>
				<key>Path</key>
				<string>PlatformsM1.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>2</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VB v1</string>
				<key>Path</key>
				<string>PlatformsM2.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>3</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269 Asus K53SJ, Asus G73s</string>
				<key>Path</key>
				<string>PlatformsM3.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>4</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VB v2</string>
				<key>Path</key>
				<string>PlatformsM4.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>5</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VB v3</string>
				<key>Path</key>
				<string>PlatformsM5.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>6</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VC v1</string>
				<key>Path</key>
				<string>PlatformsM6.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>7</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VC v2</string>
				<key>Path</key>
				<string>PlatformsM7.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>8</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VC v3</string>
				<key>Path</key>
				<string>PlatformsM8.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>20</integer>
				<key>Comment</key>
				<string>Custom ALC269 Sony Vaio VPCEB3M1R by Rodion</string>
				<key>Path</key>
				<string>Platforms20.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>27</integer>
				<key>Comment</key>
				<string>Custom ALC269 Acer Aspire by Andrey1970</string>
				<key>Path</key>
				<string>Platforms27.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>28</integer>
				<key>Comment</key>
				<string>Custom ALC269VC Lenovo Z580 by John</string>
				<key>Path</key>
				<string>Platforms28.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>29</integer>
				<key>Comment</key>
				<string>Custom ALC269VC Lenovo V580 by ar4er</string>
				<key>Path</key>
				<string>Platforms29.xml.zlib</string>
			</dict>
		</array>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>1</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269 Asus N53J</string>
				<key>Path</key>
				<string>layout1.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>2</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VB v1</string>
				<key>Path</key>
				<string>layout2.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>3</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269 Asus K53SJ, Asus G73s</string>
				<key>Path</key>
				<string>layout3.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>4</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VB v2</string>
				<key>Path</key>
				<string>layout4.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>5</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VB v3</string>
				<key>Path</key>
				<string>layout5.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>6</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VC v1</string>
				<key>Path</key>
				<string>layout6.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>7</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VC v2</string>
				<key>Path</key>
				<string>layout7.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>8</integer>
				<key>Comment</key>
				<string>Miron Laptop patch ALC269-VC v3</string>
				<key>Path</key>
				<string>layout8.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>20</integer>
				<key>Comment</key>
				<string>Custom ALC269 Sony Vaio VPCEB3M1R by Rodion</string>
				<key>Path</key>
				<string>layout20.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>27</integer>
				<key>Comment</key>
				<string>Custom ALC269 Acer Aspire by Andrey1970</string>
				<key>Path</key>
				<string>layout27.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>28</integer>
				<key>Comment</key>
				<string>Custom ALC269VC Lenovo Z580 by John</string>
				<key>Path</key>
				<string>layout28.xml.zlib</string>
			</dict>
			<dict>
				<key>Id</key>
				<integer>29</integer>
				<key>Comment</key>
				<string>Custom ALC269VC Lenovo V580 by ar4er</string>
				<key>Path</key>
				<string>layout29.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEmLvCQ=</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUmLvCQ=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEiLu2g=</data>
			<key>MinKernel</key>
			<integer>14</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUiLu2g=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcaGQwEAAAA=</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcaGQwEAAAE=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hBnUEQ==</data>
			<key>MinKernel</key>
			<string>13</string>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>aQLsEA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hQjsEA==</data>
			<key>MinKernel</key>
			<string>13</string>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>gxnUEQ==</data>
			<key>MinKernel</key>
			<string>15</string>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hAjsEA==</data>
			<key>MinKernel</key>
			<string>13</string>
			<key>MaxKernel</key>
			<string>14</string>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
	</array>
</dict>
</plist>
