<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>S.Mitrofanov</string>
	<key>CodecID</key>
	<integer>283902594</integer>
	<key>CodecName</key>
	<string>ALC282</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>ALC282 Asus x200LA</string>
				<key>Id</key>
				<integer>86</integer>
				<key>Path</key>
				<string>layout86.xml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>ALC282 Asus x200LA</string>
				<key>Id</key>
				<integer>86</integer>
				<key>Path</key>
				<string>Platforms.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>
			PYQZ1BE=
			</data>
			<key>MinKernel</key>
			<string>13</string>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			PYIC7BA=
			</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>
			PYUI7BA=
			</data>
			<key>MinKernel</key>
			<string>13</string>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			PQAAAAA=
			</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>
			PYMZ1BE=
			</data>
			<key>MinKernel</key>
			<string>15</string>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			PQAAAAA=
			</data>
		</dict>
	</array>
	<key>Vendor</key>
	<string>Realtek</string>
</dict>
</plist>
