<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.PinConfigs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Custom ALC292</string>
					<key>CodecID</key>
					<integer>283902610</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfmQFHHCABRx0AAUce
					FwFHH5kBVxwwAVcdQAFXHiEBVx8BAZccUAGX
					HZABlx6BAZcfAQFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
					<key>WakeConfigData</key>
					<data>AUcMAg==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>MacPeet - alc292 for LENOVO THINKPAD T450_T450s_X240 - ManualMode</string>
					<key>CodecID</key>
					<integer>283902610</integer>
					<key>ConfigData</key>
					<data>
					AaccIAGnHRABpx6BAacfAAEnHDABJx0AASce
					pgEnH5ABRxxAAUcdAAFHHhcBRx+QAUcMAgFX
					HFABVx0QAVceAQFXHwABVwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>15</integer>
					<key>WakeConfigData</key>
					<data>AUcMAgFXDAI=</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>CodecID</key>
					<integer>283902610</integer>
					<key>Comment</key>
					<string>vanquybn - ALC 292 for Dell M4800</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQABRx4XAUcfkAGHHCABhx2QAYce
					gQGHHwEBJxwwAScdAAEnHqYBJx+QAVccQAFX
					HUABVx4hAVcfAQ==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>18</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>CodecID</key>
					<integer>283902610</integer>
					<key>Comment</key>
					<string>vusun123 - ALC 292 for Lenovo T440</string>
					<key>ConfigData</key>
					<data>
					ASccMAEnHQABJx6gAScfkAFHHEABRx0AAUce
					FwFHH5ABRwwCAVccUAFXHRABVx4hAVcfAAGn
					HCABpx0QAacegQGnHwA=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
					<key>WakeConfigData</key>
					<data>AUcMAg==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>CodecID</key>
					<integer>283902610</integer>
					<key>Comment</key>
					<string>ALC292 for Lenovo T450s By Echo</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRx0BAUceFwFHH5ABRwwCAVccQAFX
					HRABVx4rAVcfBAFXDAIBZxzwAWcdAAFnHgAB
					Zx9AAYcc8AGHHQABhx4AAYcfQAGXHPABlx0A
					AZceAAGXH0ABpxwgAacdEAGnHosBpx8EAbcc
					8AG3HQABtx4AAbcfQAHXHPAB1x0AAdceAAHX
					H0AB5xzwAecdAAHnHgAB5x9AAUccMA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>CodecID</key>
					<integer>283902610</integer>
					<key>Comment</key>
					<string>baesar0 -ALC 292 for e6540 with dock</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxxAAUcdAQFHHhcBRx+QAUcMAgFX
					HFABVx1AAVceKwFXHwIBVwwCAWccgAFnHUAB
					Zx4BAWcfAgFnDAIBhxzwAYcdAAGHHgABhx9A
					AZccIAGXHZABlx6BAZcfAgGnHHABpx0QAace
					qwGnHwIBtxzwAbcdAAG3HgABtx9AAdcc8AHX
					HQAB1x4AAdcfQAHnHPAB5x0AAeceAAHnH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>55</integer>
					<key>WakeConfigData</key>
					<data>AUcMAg==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Hans - ALC 292 for Dell M4800 with Dock</string>
					<key>CodecID</key>
					<integer>283902610</integer>
					<key>Comment</key>
					<string>Hans - ALC 292 for Dell M4800 with Dock</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxxAAUcdAQFHHhcBRx+QAUcMAgFX
					HFABVx1AAVceKwFXHwIBVwwCAWccgAFnHUAB
					Zx4BAWcfAQFnDAIBhxwgAYcdIAGHHoEBhx8C
					AZccIAGXHZABlx6BAZcfAQGnHCABpx0QAace
					+wGnHwIBtxzwAbcdAAG3HgABtx9AAdcc8AHX
					HQAB1x4AAdcfQAHnHPAB5x0AAeceAAHnH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>59</integer>
					<key>WakeConfigData</key>
					<data>AUcMAgFXDAIBZwwCAacHJA==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
