<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2016 vit9696. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.PinConfigs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC270</string>
					<key>CodecID</key>
					<integer>283902576</integer>
					<key>Comment</key>
					<string>ALC270 for Asus K56CB</string>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHBABRx0BAUce
					FwFHH5ABdxzwAXcdAAF3HgABdx9AAYccIAGH
					HRABhx6BAYcfBAGXHDABlx0BAZceoAGXH5AB
					pxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4A
					AbcfQAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccIAIXHRACFx4hAhcfBAFH
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283903592</integer>
					<key>Comment</key>
					<string>ALC668 for Asus N750Jk, alex1960</string>
					<key>ConfigData</key>
					<data>
					ABJxwQAScdAAEnHqABJx+QAUccIAFHHQABRx
					4XAUcfkAFXHDABVx0QAVceIQFXHwEBZxxAAW
					cdAAFnHgABZx9AAbccUAG3HRABtx6BAbcfAg
					HXHGAB1x0AAdcewAHXH0ABRwwA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>ALC269 for Asus K53SJ, alex1960</string>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHBABRx0BAUce
					EwFHH5ABdxxQAXcdAQF3HhMBdx+QAYccIAGH
					HZABhx6BAYcfAwGXHDABlx0BAZceoAGXH5AB
					pxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4A
					AbcfQAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccQAIXHRACFx4hAhcfAwFH
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>ALC269</string>
					<key>CodecID</key>
					<string>283902569</string>
					<key>Comment</key>
					<string>ALC269 for Acer Aspire, Andrey1970</string>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHBABRx0BAUce
					FwFHH5ABRwwCAXcc8AF3HQABdx4AAXcfQAGH
					HPABhx0AAYceAAGHH0ABlxzwAZcdAAGXHgAB
					lx9AAacc8AGnHQABpx4AAacfQAG3HCABtx0B
					AbceoAG3H5AB1xzwAdcdAAHXHgAB1x9AAecc
					8AHnHQAB5x4AAecfQAIXHDACFx0QAhceIQIX
					HwMBhxwgAYcdkAGHHoEBhx8D
					</data>
					<key>FuncGroup</key>
					<string>1</string>
					<key>LayoutID</key>
					<string>27</string>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269VC</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>ALC269VC for Lenovo Z580, John</string>
					<key>ConfigData</key>
					<data>
					AVccQAFXHRABVx4hAVcfAwGHHCABhx0QAYce
					gQGHHwMBlxwwAZcdAQGXHqABlx+QAbccEAG3
					HQEBtx4XAbcfkAFXDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>0x11d4198b</string>
					<key>CodecID</key>
					<integer>299112843</integer>
					<key>Comment</key>
					<string>AD1988B, Rodion</string>
					<key>ConfigData</key>
					<data>
					AXccIAF3HZABdx6gAXcfkQFHHCEBRx2QAUce
					gQFHHwIBJxwQAScdQAEnHhEBJx8BAkccEQJH
					HWACRx4RAkcfAQFnHBIBZx0QAWceEQFnHwEC
					VxwUAlcdIAJXHhECVx8BAccc8AHHHQABxx4A
					AccfQAE3HPABNx0AATceAAE3H0ABpxzwAacd
					AAGnHgABpx9AAYcc8AGHHQABhx4AAYcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<string>283902569</string>
					<key>Comment</key>
					<string>ALC269, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUcc8CFHHQAhRx4AIUcfQCFXHHAhVx1AIVce
					ISFXHwIhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHPAhhx0AIYceACGHH0Ah
					lxzwIZcdACGXHgAhlx9AIacc8CGnHQAhpx4A
					IacfQCG3HPAhtx0AIbceACG3H0Ah5xyQIecd
					YSHnHksh5x8B
					</data>
					<key>FuncGroup</key>
					<string>1</string>
					<key>LayoutID</key>
					<string>1</string>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283902595</integer>
					<key>Comment</key>
					<string>ALC283, Toleda</string>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHPABRx0AAUce
					AAFHH0ABdxzwAXcdAAF3HgABdx9AAYcc8AGH
					HQABhx4AAYcfQAGXHGABlx0wAZceiwGXHwEB
					pxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4A
					AbcfQAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhcccAIXHUACFx4rAhcfAQGX
					DAICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC885</string>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>Comment</key>
					<string>ALC885 by alex1960</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfASFXHCAhVx0QIVce
					ASFXHwEhZxwwIWcdYCFnHgEhZx8BIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfccoCH3HQEh9x7LIfcfASEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>ALC887, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxwgIVcd
					ECFXHgEhVx8BIWccMCFnHWAhZx4BIWcfASF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdkCGHHqAh
					hx+QIZccYCGXHZAhlx6BIZcfAiGnHFAhpx0w
					IacegSGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>ALC887, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxzwIVcd
					ACFXHgAhVx9AIWcc8CFnHQAhZx4AIWcfQCF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdYCGHHgEh
					hx8BIZccYCGXHZAhlx6gIZcfkCGnHFAhpx0Q
					IaceASGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>ALC887, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904136</integer>
					<key>Comment</key>
					<string>ALC888, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxwwIWcdYCFnHgEhZx8BIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904136</integer>
					<key>Comment</key>
					<string>ALC888, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHPAhVx0AIVce
					ACFXH0AhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx1gIYceASGHHwEh
					lxxgIZcdkCGXHqAhlx+QIaccUCGnHRAhpx4B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904136</integer>
					<key>Comment</key>
					<string>ALC888, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904137</integer>
					<key>Comment</key>
					<string>ALC889, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxwwIWcdYCFnHgEhZx8BIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904137</integer>
					<key>Comment</key>
					<string>alc889, Sergey_Galan</string>
					<key>ConfigData</key>
					<data>
					IRcc8CEXHQAhFx4AIRcfQCEnHPAhJx0AISce
					ACEnH0AhRxwwIUcdQSFHHhEhRx8BIVcc8CFX
					HQAhVx4AIVcfQCFnHPAhZx0AIWceACFnH0Ah
					dxzwIXcdACF3HgAhdx9AIYccECGHHZEhhx6g
					IYcfkCGXHCAhlx2QIZcegSGXHwEhpxzwIacd
					ACGnHgAhpx9AIbccgCG3HUAhtx4hIbcfASHH
					HPAhxx0AIcceACHHH0Ah1xzwIdcdACHXHgAh
					1x9AIecckCHnHSEh5x5LIecfASH3HPAh9x0A
					IfceACH3H0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904137</integer>
					<key>Comment</key>
					<string>ALC889, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxwgIVcd
					ECFXHgEhVx8BIWccMCFnHWAhZx4BIWcfASF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdkCGHHqAh
					hx+QIZccYCGXHZAhlx6BIZcfAiGnHFAhpx0w
					IacegSGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxzwIVcd
					ACFXHgAhVx9AIWcc8CFnHQAhZx4AIWcfQCF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdYCGHHgEh
					hx8BIZccYCGXHZAhlx6gIZcfkCGnHFAhpx0Q
					IaceASGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904153</integer>
					<key>Comment</key>
					<string>ALC898, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxwgIVcd
					ECFXHgEhVx8BIWccMCFnHWAhZx4BIWcfASF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdkCGHHqAh
					hx+QIZccYCGXHZAhlx6BIZcfAiGnHFAhpx0w
					IacegSGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904153</integer>
					<key>Comment</key>
					<string>ALC898, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxzwIVcd
					ACFXHgAhVx9AIWcc8CFnHQAhZx4AIWcfQCF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdYCGHHgEh
					hx8BIZccYCGXHZAhlx6gIZcfkCGnHFAhpx0Q
					IaceASGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904153</integer>
					<key>Comment</key>
					<string>ALC898, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904256</integer>
					<key>Comment</key>
					<string>ALC1150, Toleda</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkAFHDAIBVxwgAVcd
					EAFXHgEBVx8BAWccMAFnHWABZx4BAWcfAQF3
					HPABdx0AAXceAAF3H0ABhxxAAYcdkAGHHqAB
					hx+QAZccYAGXHZABlx6BAZcfAgGnHFABpx0w
					AacegQGnHwEBtxxwAbcdQAG3HiEBtx8CAbcM
					AgHnHJAB5x1hAeceSwHnHwEB9xzwAfcdAAH3
					HgAB9x9AARcc8AEXHQABFx4AARcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904256</integer>
					<key>Comment</key>
					<string>ALC1150, Toleda</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkAFHDAIBVxzwAVcd
					AAFXHgABVx9AAWcc8AFnHQABZx4AAWcfQAF3
					HPABdx0AAXceAAF3H0ABhxxAAYcdYAGHHgEB
					hx8BAZccYAGXHZABlx6gAZcfkAGnHFABpx0Q
					AaceAQGnHwEBtxxwAbcdQAG3HiEBtx8CAbcM
					AgHnHJAB5x1hAeceSwHnHwEB9xzwAfcdAAH3
					HgAB9x9AARcc8AEXHQABFx4AARcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<string>283902569</string>
					<key>Comment</key>
					<string>ALC269, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUcc8CFHHQAhRx4AIUcfQCFXHHAhVx1AIVce
					ISFXHwIhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHPAhhx0AIYceACGHH0Ah
					lxzwIZcdACGXHgAhlx9AIacc8CGnHQAhpx4A
					IacfQCG3HPAhtx0AIbceACG3H0Ah5xyQIecd
					YSHnHksh5x8B
					</data>
					<key>FuncGroup</key>
					<string>1</string>
					<key>LayoutID</key>
					<string>1</string>
				</dict>
				<dict>
					<key>CodecID</key>
					<string>283902595</string>
					<key>Comment</key>
					<string>ALC283, Toleda</string>
					<key>ConfigData</key>
					<data>
					AhccIAIXHRACFx4hAhcfAwIXDAI=
					</data>
					<key>FuncGroup</key>
					<string>1</string>
					<key>LayoutID</key>
					<string>1</string>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AQAAAA==
					</data>
					<key>CodecID</key>
					<integer>351359086</integer>
					<key>Comment</key>
					<string>CX20590 for Lenovo Yoga 13, usr-sse2</string>
					<key>ConfigData</key>
					<data>
					AZccMAGXHUABlx4rAZcfDgH3HCAB9x0BAfce
					EAH3H5ACNxwQAjcdAQI3HqACNx+QAaccQAGn
					HRABpx6BAacfAQG3HPABtx0AAbceAAG3H0AB
					xxzwAccdAAHHHgABxx9AAdcc8AHXHQAB1x4A
					AdcfQAHnHPAB5x0AAeceAAHnH0ACBxzwAgcd
					AAIHHgACBx9AAicc8AInHQACJx4AAicfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
